doctype html
html
  head
    title Pulsating stars
    link(rel="stylesheet" href="./css/style.css")
  body
    canvas#canvas
    script(src="./js/dat.gui.min.js")
    script(src="./js/star.js")
    script(src="./js/canvas.js")
    script(src="./js/pulsatingStars.js")
    script(src="./js/main.js")
